body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* background-color: red; */
    font-family: cursive;
}
/* 4bcffa */

#headerSection{
    padding: 5px;
}

#headerSection h1{
    font-family: cursive;
}

input{
    border-radius: 25px;
    padding: 6px;
    border: none;
    outline: none;
}

#dropbox{
    padding: 6px;
    border-radius: 25px;
    width: 175px;
    border: none;
    outline: none;
}

#login-button{
    padding: 6px;
    border-radius: 25px;
    width: 175px;
    border: none;
    outline: none;
}

#login-button:hover{
    background-color: #ff9f43;
    color:white;
}